{% extends "example/base.html" %}
{% load url from future %}

{% block content %}
<h2 class="lead">Play with the API</h2>

<div class="row">
    <div class="span5">
        <form class="form-horizontal" id="idForm">
            <div class="control-group">
                <label class="control-label" for="idEndpoint">API endpoint</label>
                <div class="controls">
                    <select id="idEndpoint" class="span3">
                        {% for endpoint in endpoints %}
                        <option>{{ endpoint.url }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="idLookup">pk (if needed)</label>
                <div class="controls">
                    <input type="text" id="idLookup" class="span3">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="idToken">Access Token</label>
                <div class="controls">
                    <input type="text" id="idToken" class="span3">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="idData">Payload</label>
                <div class="controls">
                    <textarea rows="3" id="idData" class="span3"></textarea>
                </div>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-inverse" id="idGET">GET</button>
                <button type="submit" class="btn btn-primary" id="idPOST">POST</button>
                <button type="submit" class="btn btn-warning" id="idPUT">PUT</button>
                <button type="submit" class="btn btn-danger" id="idDELETE">DELETE</button>
            </div>
        </form>
    </div>
    <div class="span7">
        <p>Response:</p>
        <pre id="idResponse"></pre>
    </div>
</div>
{% endblock %}


{% block javascript %}
        <script type="text/javascript">
        (function() {

            $('#idForm').submit(function() {
                return false;
            });

            var showMsg = function(msg) {
                $('#idResponse').html(msg)
            };

            var getUrl = function() {
                var url = $('#idEndpoint').val();
                url = url.replace('pk', $('#idLookup').val());
                return url;
            };

            $('#idGET').click(function() {
                var token = $("#idToken").val();
                var getting = $.ajax({
                    url: getUrl(),
                    type: 'GET',
                    contentType: 'application/json',
                    beforeSend: function(request){
                        request.setRequestHeader("Authorization", "Bearer " + token);
                    }
                });

                getting.done(function(data) {
                    showMsg(JSON.stringify(data));
                });

                getting.error(function(data){
                    showMsg("HTTP " + data.status);
                });
            });


        })();
    </script>

    <script type="text/javascript">
    /*$(document).ready(function(){
        $("#idGET").click(function(event){
            event.preventDefault();
            var url = $("#id_url").val();
            var token = $("#id_token").val();

            var show_response = function(data){
                $("#id_response").html(data);
            };

            if (!url || !token) {
                show_response('Please fill all the form fields');
                return;
            }

            $.ajax({
                url: url,
                type: 'GET',
                crossDomain: true,
                beforeSend: function(request){
                    request.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function(data, status, jqXHR){
                    msg = 'HTTP ' + jqXHR.status;
                    if (jqXHR.responseText  == "Hello, OAuth2!"){
                        show_response(msg+data)
                    } else {
                        show_response("Please insert a valid OAuth2 API URL");
                    }
                },
                error: function(jqXHR) {
                    var msg = "HTTP " + jqXHR.status;
                    var br ="<\br>";
                    if (jqXHR.status == 0){
                        msg += br;
                        msg += "You have to put protocol on your URL, i.e. '<b>http://</b>localhost:8000/api/hello'.";
                    }
                    show_response(msg);
                }
            });
        });
    });*/
    </script>
{% endblock javascript %}