{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>Django OAuth Toolkit Example</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'home' %}">Django OAuth Toolkit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% url 'home' as url %}
              <li {% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Home</a></li>
              {% url 'consumer' as url %}
              {% url 'consumer-client' as url_client %}
              <li class="dropdown {% if request.path == url or request.path == url_client %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">OAuth2 Consumer <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url }}">Create authorization link</a></li>
                  <li><a href="{{ url_client }}">Stupid API client (deprecated)</a></li>
                </ul>
              </li>
              {% url 'api-client' as url_api_client %}
              {% url 'oauth2_provider:register' as url_register %}
              <li class="dropdown {% if request.path == url_register or request.path == url_api_client %}active{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">OAuth2 Provider <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_api_client }}">API client</a></li>
                  <li><a href="{{ url_register }}">Register an Application</a></li>
                </ul>
              </li>

            </ul>
              {% if user.is_authenticated %}
                  <ul class="nav pull-right">
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
                        </ul>
                      </li>
                  </ul>
              {% else %}
                  <form class="navbar-form pull-right" method="post" action="{% url "django.contrib.auth.views.login" %}">
                      {% csrf_token %}
                      <input id="id_username" name="username" class="span2" type="text" placeholder="Username">
                      <input id="id_password" name="password" class="span2" type="password" placeholder="Password">
                      <button type="submit" class="btn">Sign in</button>
                  </form>
              {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    {% block javascript %}{% endblock javascript %}
</body>
</html>