{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>Django OAuth Toolkit Example</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <style type="text/css">
        body {
            padding-top: 70px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
<nav class="navbar-nav navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Django OAuth Toolkit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% url 'home' as url %}
        <li {% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Home</a></li>
        {% url 'consumer' as url %}
        {% url 'consumer-client' as url_client %}

        <li class="dropdown {% if request.path == url or request.path == url_client %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">OAuth2 Consumer <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url }}">Create authorization link</a></li>
            <li><a href="{{ url_client }}">Stupid API client (deprecated)</a></li>
          </ul>
        </li>

        {% url 'api-client' as url_api_client %}
        {% url 'oauth2_provider:register' as url_register %}

        <li class="dropdown {% if request.path == url_register or request.path == url_api_client %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">OAuth2 Provider <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_api_client }}">API client</a></li>
            <li><a href="{{ url_register }}">Register an Application</a></li>
          </ul>
        </li>
      </ul>

      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      {% else %}
        <form class="navbar-form navbar-right" method="post" action="{% url "django.contrib.auth.views.login" %}">
          {% csrf_token %}
          <input id="id_username" name="username" class="form-control" type="text" placeholder="Username">
          <input id="id_password" name="password" class="form-control" type="password" placeholder="Password">
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock javascript %}
</body>
</html>