{% extends "example/base.html" %}
{% load url from future %}

{% block content %}
<p class="lead">Token Trading!</p>
<div class="alert alert-error hide fade in" id="id_alert">
  <button type="button" class="close" id="id_alert_close">&times;</button>
  <strong>Error retrieving access token!</strong> <span id="id_error_msg"></span>
</div>
    {% if not error %}
        {% if not noparams %}
        <p>This step of the OAuth2 authentication process is usually performed automatically by the consumer.
        For testing purposes, we simulate the POST request to the <i>token</i> endpoint provided by the Authorization
        Server with a form.</p>
        <form method="post">
            {{ form.non_field_errors }}
            <fieldset>
                <legend>Trade your authorization token for a more powerful access token</legend>
                {{ form.code.errors }}
                <label>Code</label>
                {{ form.code }}
                <span class="help-block">The authorization token provided by your server</span>
                {{ form.state.errors }}
                <label>State</label>
                {{ form.state }}
                <span class="help-block">
                    Sort of csrf.
                </span>
                {{ form.token_url.errors }}
                <label>Token url</label>
                {{ form.token_url }}
                <span class="help-block">
                    The url in your server where to retrieve the access token, it's ok if it points to localhost
                    (e.g. http://localhost:8000/o/token/).
                </span>
                {{ form.redirect_url.errors }}
                <label>Redirect url</label>
                {{ form.redirect_url }}
                <span class="help-block">
                    The url of the consumer redirect_uri, must match at least one of the uris provided by the
                    Application instance in the Authorization server.
                </span>
                {{ form.client_id.errors }}
                <label>Client id</label>
                {{ form.client_id }}
                <span class="help-block">
                    One more time.
                </span>
                {{ form.client_secret.errors }}
                <label>Client secret</label>
                {{ form.client_secret }}
                <span class="help-block">
                    Get it from Application instance in the Authorization server.
                </span>

                <button type="submit" class="btn" id="submit_btn">Submit</button>
            </fieldset>
            {% csrf_token %}
        </form>
        {% else %}
        <p>You're not supposed to be here!</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#submit_btn").click(function(event){
            event.preventDefault();
            var token_url = $("#id_token_url").val();
            var code = $("#id_code").val();
            var redirect_url = $("#id_redirect_url").val();
            var client_id = $("#id_client_id").val();
            var client_secret = $("#id_client_secret").val();

            $.ajax({
                url: token_url,
                type: 'POST',
                crossDomain: true,
                data: { code: code, redirect_uri: redirect_url, grant_type: "authorization_code"},
                beforeSend: function(request){
                    request.setRequestHeader("Authorization", "Basic " + btoa(client_id + ":" + client_secret));
                },
                success: function(data){
                    window.location = window.location.protocol + '//{{ request.META.HTTP_HOST }}{%  url 'consumer-done' %}?' + $.param(data);
                    $("#id_access_token").html(data.access_token);
                    $("#id_token_type").html(data.token_type);
                    $("#id_expires").html(data.expires_in);
                    $("#id_refresh").html(data.refresh_token);
                },
                error: function(data) {
                    var msg = data.responseText;
                    var br ="<\br>";
                    if (data.responseJSON && data.responseJSON['error'] == "invalid_grant"){
                        msg += br;
                        msg += "Authorization Code is expired. You have 60 seconds to complete this operation.";
                        msg += br;
                        msg += "If you are following the tutorial, you have to restart from \"Build an authorization link for your user\" step.";
                    }
                    $("#id_error_msg").html(msg);
                    $("#id_alert").show();
                }
            });
        });
        $("#id_alert_close").click(function(event) {
            $(this).parent().hide();
        });
    });
    </script>
{% endblock javascript %}
