{% extends "example/base.html" %}
{% load url from future %}

{% block styles %}
  <style>
    .form-client {
      margin-bottom: 20px;
    }
  </style>
{% endblock styles %}

{% block content %}
  <p class="lead">I'll let you know, I'm a supersimple API client...</p>

  <form class="form-client">
    <div class="form-group col-sm-4">
      <input type="text" class="form-control input-sm" placeholder="API URL" id="id_url">
    </div>
    <div class="form-group col-sm-2">
      <input type="password" class="form-control input-sm" placeholder="Access Token" id="id_token">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" id="submit_btn">GET</button>
    </div>
  </form>

  <pre id="id_response"></pre>
{% endblock content %}


{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#submit_btn").click(function(event){
        event.preventDefault();
        var url = $("#id_url").val();
        var token = $("#id_token").val();

        var show_response = function(data){
          $("#id_response").html(data);
        };

        if (!url || !token) {
          show_response('Please fill all the form fields');
          return;
        }

        $.ajax({
          url: url,
          type: 'GET',
          crossDomain: true,
          beforeSend: function(request){
            request.setRequestHeader("Authorization", "Bearer " + token);
          },
          success: function(data, status, jqXHR){
            msg = 'HTTP ' + jqXHR.status;
            if (jqXHR.responseText  == "Hello, OAuth2!"){
              show_response(msg+data)
            } else {
              show_response("Please insert a valid OAuth2 API URL");
            }
          },
          error: function(jqXHR) {
            var msg = "HTTP " + jqXHR.status;
            var br ="<\br>";
            if (jqXHR.status == 0){
              msg += br;
              msg += "You have to put protocol on your URL, i.e. '<b>http://</b>localhost:8000/api/hello'.";
            }
            show_response(msg);
          }
        });
      });
    });
  </script>
{% endblock javascript %}