{% extends "example/base.html" %}
{% load url from future %}

{% block content %}
  <p class="lead">Token Trading!</p>
  <div id="id_alert" class="alert alert-danger hide" role="alert">
    <strong>Error retrieving access token!</strong> <span id="id_error_msg"></span>
  </div>

  {% if not error %}
    {% if not noparams %}
    <p>This step of the OAuth2 authentication process is usually performed automatically by the consumer.
      For testing purposes, we simulate the POST request to the <i>token</i> endpoint provided by the Authorization
      Server with a form.</p>
      <form method="post" role="form">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="col-sm-6">
          <p class="lead">Your authorization token:</p>

          <div class="form-group">
            <label class="control-label">Code</label>
            <input id="{{ form.code.auto_id }}" name="{{ form.code.name }}"
            class="form-control" type="text" value="{{ form.code.value|default_if_none:'' }}" readonly />
            <span class="help-block">
              The authorization token provided by your server.
            </span>
            {{ form.code.errors }}
          </div>

          <div class="form-group">
            <label class="control-label">State</label>
            <input id="{{ form.state.auto_id }}" name="{{ form.state.name }}"
            class="form-control" type="text" value="{{ form.state.value|default_if_none:'' }}" readonly />
            <span class="help-block">
              Sort of csrf.
            </span>
            {{ form.state.errors }}
          </div>

          <div class="form-group">
            <label class="control-label">Redirect url</label>
            <input id="{{ form.redirect_url.auto_id }}" name="{{ form.redirect_url.name }}"
            class="form-control" type="text" value="{{ form.redirect_url.value|default_if_none:'' }}" readonly />
            <span class="help-block">
              The url of the consumer redirect_uri, must match at least one of the uris provided by the
              Application instance in the Authorization server.
            </span>
            {{ form.redirect_url.errors }}
          </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <p class="lead">Trade a more powerful access token!</p>

          <div class="form-group">
            <label class="control-label">Client id</label>
            <input id="{{ form.client_id.auto_id }}" name="{{ form.client_id.name }}"
            class="form-control" type="text" value="{{ form.client_id.value|default_if_none:'' }}" />
            <span class="help-block">
              One more time.
            </span>
            {{ form.client_id.errors }}
          </div>

          <div class="form-group">
            <label class="control-label">Client secret</label>
            <input id="{{ form.client_secret.auto_id }}" name="{{ form.client_secret.name }}"
            class="form-control" type="text" value="{{ form.client_secret.value|default_if_none:'' }}" />
            <span class="help-block">
              Get it from Application instance in the Authorization server.
            </span>
            {{ form.client_secret.errors }}
          </div>

          <div class="form-group">
            <label class="control-label">Token url</label>
            <input id="{{ form.token_url.auto_id }}" name="{{ form.token_url.name }}"
            class="form-control" type="text" value="{{ form.token_url.value|default_if_none:'' }}" />
            <span class="help-block">
              The url in your server where to retrieve the access token, it's ok if it points to localhost
              (e.g. http://localhost:8000/o/token/).
            </span>
            {{ form.token_url.errors }}
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg" id="submit_btn">Submit</button>
        </div>
      </form>
    {% else %}
      <p>You're not supposed to be here!</p>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#submit_btn").click(function(event){
        event.preventDefault();
        var token_url = $("#id_token_url").val();
        var code = $("#id_code").val();
        var redirect_url = $("#id_redirect_url").val();
        var client_id = $("#id_client_id").val();
        var client_secret = $("#id_client_secret").val();

        var show_error = function(msg){
          $("#id_error_msg").html(msg);
          $("#id_alert").removeClass('hide');
        };

        if (!token_url) {
          show_error('Please specify Token url');
          return;
        }

        $.ajax({
          url: token_url,
          type: 'POST',
          crossDomain: true,
          data: { code: code, redirect_uri: redirect_url, grant_type: "authorization_code"},
          beforeSend: function(request){
            request.setRequestHeader("Authorization", "Basic " + btoa(client_id + ":" + client_secret));
          },
          success: function(data){
            window.location = window.location.protocol + '//{{ request.META.HTTP_HOST }}{%  url 'consumer-done' %}?' + $.param(data);
            $("#id_access_token").html(data.access_token);
            $("#id_token_type").html(data.token_type);
            $("#id_expires").html(data.expires_in);
            $("#id_refresh").html(data.refresh_token);
          },
          error: function(data) {
            var msg = data.responseText;
            var br ="<\br>";
            if (data.responseJSON && data.responseJSON['error'] == "invalid_grant"){
              msg += br;
              msg += "Authorization Code is expired. You have 60 seconds to complete this operation.";
              msg += br;
              msg += "If you are following the tutorial, you have to restart from \"Build an authorization link for your user\" step.";
            }
            show_error(msg);
          }
        });
      });

      $("#id_alert_close").click(function(event) {
        $(this).parent().hide();
      });
    });
  </script>
{% endblock javascript %}