{% extends "example/base.html" %}
{% load url from future %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, OAuth!</h1>
        <p>Welcome to the OAuth Playground, an utility to show off and test <b>django-oauth-toolkit</b>'s capabilities.</p>
        <p><a href="https://github.com/evonove/django-oauth-toolkit" class="btn btn-primary btn-large">Github Repo &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h3>OAuth2 Consumer</h3>
          <h4>Authorization Code flow</h4>
          <p>Do you have an OAuth2 provider implementing the Authorization Code flow and want to test how it goes?</p>
          <p><a class="btn" href="{% url 'consumer' %}">Use me as a Consumer! &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>OAuth2 Provider</h3>
          <h4>Authorization Code flow</h4>
          <p>TODO!</p>
          <p><a class="btn" href="#">Use me as a Provider! &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>OAuth2 Provider</h3>
            <h4>Implicit Grant flow</h4>
          <p>TODO!</p>
          <p><a class="btn" href="#">Use me as a Provider! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy;evonove 2013</p>
      </footer>

{% endblock %}