*.py[cod]

*.swp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.pytest_cache
.coverage
.tox
.pytest_cache/
.ruff_cache/
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm stuff
.idea

# Sphinx build dir
_build

# Sqlite database files
*.sqlite

/venv/
/coverage.xml

db.sqlite3
venv/

/tests/app/idp/static
