[tool.black]
line-length = 110
target-version = ['py38']
exclude = '''
^/(
        oauth2_provider/migrations/
    |   tests/migrations/
    |   .tox
)
'''

# Ref: https://github.com/codespell-project/codespell#using-a-config-file
[tool.codespell]
skip = '.git,package-lock.json,locale,AUTHORS,tox.ini'
check-hidden = true
ignore-regex = '.*pragma: codespell-ignore.*'
ignore-words-list = 'assertIn'

[tool.pytest.ini_options]
markers = [
    "nologinrequiredmiddleware",
    "oauth2_settings",
]
