{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
        {% if not error %}
            <form id="authorizationForm" method="post">
                <h3 class="block-center-heading">{% trans "Authorize" %} {{ application.name }}?</h3>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

                {% if form.errors %}
                    <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                    {% endfor %}
                {% endif %}

                <p>{% trans "Application requires following permissions" %}</p>
                <ul>
                    {% for scope in scopes_descriptions %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>

                {% if require_login %}
                    <div class="form-row">
                      {{ form.username.errors }}
                      <label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username }}
                    </div>
                    <div class="form-row">
                      {{ form.password.errors }}
                      <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
                    </div>
                    {% url 'password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                    <div class="password-reset-link">
                      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                    </div>
                    {% endif %}
                {% endif %}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large" value="Cancel"/>
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Authorize"/>
                    </div>
                </div>
            </form>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}